{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'ico/favicon.ico' %}">
    <title>Control H</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  {% block css %}{% endblock css %}
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Control H</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/" title="{{ section.name }}"><i class="icon-home"></i>Home</a></li>
          {% if user.is_authenticated and user.conta_set.count %}
            <!-- {# dropdown ADM INI #} -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administração <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'agenda_list' conta.id %}" title="{{ section.name }}">Agendas</a></li>
                <li><a href="{% url 'servico_list' conta.id %}" title="{{ section.name }}">Serviços</a></li>
                <li><a href="{% url 'cartao_list' conta.id %}" title="{{ section.name }}">Cartões</a></li>
              </ul>
            </li>
            <!-- {# dropdown ADM fim #} -->
            <!-- {# dropdown Agendas INI #} -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agendas <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for agenda in conta.agenda_set.all %}
                    <li><a href="{% url 'agenda_tarefa_list' conta.id agenda.id %}" title="{{ section.name }}">{{ agenda.nome }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </li>
          <!-- {# dropdown Agendas fim #} -->
            <li><a href="{% url 'tarefa_list' conta.id %}" title="{{ section.name }}">Tarefas</a></li>
            {%  if conta.contador %}<!-- {# Se não tem contador, não acessa #} -->
              <li><a href="#" title="{{ section.name }}">Mensagens</a></li>
              <li><a href="{% url 'contador_leitura' conta.id %}" title="{{ section.name }}">Contador</a></li>
            {% endif %}
          {% endif %}
          <li class="{% if section.selected %}active{% endif %}"><a href="#"><i class="{{ section.icon }}"></i> {{ section.name }}</a></li>
          <li class="active"><a href="#">Link 1 ativo <span class="sr-only">(current)</span></a></li>
        </ul>
          
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          {% if user.is_authenticated %}
            <li{% if active_perfil %} class="active"{% endif %}><a href="#"><i class="icon-user"></i> {{ request.user.email }}</a></li>
            <li><a href="{% url 'logout' %}"><i class="icon-off"></i> Sair </a></li>
          {% else %}
            <li><a href="{% url 'login' %}"><i class="icon-arrow-up"></i> Entrar </a></li>
            <!-- <li><a href="#"><i class="icon-arrow-right"></i> Cadastrar </a></li> -->
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
 
  {% if messages %}
    <div class="row-fluid">
      <div class="span12">
        {% autoescape off %}
          {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
              <button type="button" class="close" data-dismiss="alert">×</button>
              {% if 'info' in message.tags %}<i class="icon-info-sign"></i>{% endif %}
              {% if 'warning' in message.tags %}<i class="icon-warning-sign"></i>{% endif %}
              {% if 'success' in message.tags %}<i class="icon-ok-sign"></i>{% endif %}
              {% if 'error' in message.tags %}<i class="icon-exclamation-sign"></i>{% endif %}
              {{ message }}
            </div>
          {% endfor %}
        {% endautoescape %}
      </div>
    </div>
  {% endif %}

  <div class="container-fluid">
  <!-- {# container-fluid: para conteúdo responsivo com largura fluída, isto é, toda a largura da janela. #} -->
    <h3>
    {% block page_title %}
    {% endblock page_title %}
    </h3>
    <div class="row-fluid">
      {% block content %}
      {% endblock content %}
    </div>
  </div>

<!--   <footer class="footer">
    <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </footer> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>

    {% block extra_js %} {% endblock extra_js%}
</body>

</html>
