{% extends "base.html" %}
{% load bootstrap3 %}

{% block css %}
  <style type="text/css">
    #filtro.off {
        display: none;
    }
    #filtro {
        padding: 1.2em;
    }
  </style>
{% endblock css %}

{% block page_title %}
  <div class="page-header">
    <br>
    <h3>Clientes<small> listagem de usuários.</small>
    <a class="btn btn-default btn-xs" id="filtro_button_id" href="#!" onclick="show_filter_fields(this)"></span>Ver filtro</a>
    <a class="btn btn-success btn-xs" href="#">Novo Cliente</a></small></h3>
  </div>
{% endblock page_title %}

{% block content %}
<div class="off" id="filtro">
  <form class="form-inline well" method="GET" action="#">
      <div class="form-group">
        {% bootstrap_field form.nome %}
        {% bootstrap_field form.email %}
      </div>
        <button type="submit" class="btn btn-primary" title="Filtrar"><i class="glyphicon glyphicon-search"></i></button>
        <a class="btn btn-small btn-info" href="." title="Apaga o filtro e listar todos"><i class="glyphicon glyphicon-remove-circle"></i></a>
      </div>
  </form>
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Nascimento</th>
        <th>sexo</th>
        <th>Validade Conta</th>
      </tr>
    </thead>
    {% for object in object_list %}
      <tr>
        <td>
          <a href="{% url 'cliente_user_edit' object.pk %}">{{ object.nome }}</a>
        </td>
        <td>{{ object.email|default:'--' }}</td>
        <td>{{ object.nascimento|date:"d/m/Y"|default:'--' }}</td>
        <td>{{ object.get_sexo_display|default:'--' }}</td>
        <td>{{ object.conta.validade|date:"d/m/Y"|default:'--' }}</td>
      </tr>
    {% empty %}
      <tr><td colspan="100%">Nenhum item disponível</td></tr>
    {% endfor %}
  </table>

       {% if object_list.has_other_pages %}
        <ul class="pagination">
          {% if object_list.has_previous %}
            <li><a href="?page={{ object_list.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in object_list.paginator.page_range %}
            {% if object_list.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if object_list.has_next %}
            <li><a href="?page={{ object_list.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
        {% endif %}

</div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
    var show_filter_fields = function() {
      $('#filtro').slideToggle('slow', function() {
          $('#filtro').toggleClass('off');
          if ($('#filtro').is('.off')) {
              //$('#filtro-label').text('Ver filtro');
              document.getElementById('filtro_button_id').innerHTML = "Ver filtro";
          } else {
             // $('#filtro-label').text('Esconder filtro');
              document.getElementById('filtro_button_id').innerHTML = "Esconder filtro";
          }
      });
  };
  </script>  
{% endblock extra_js %}