{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}
  <div class="page-header center_div">
  <!-- TODO erver esse br -->
  <br>
  <h3>Contador <small> dados da empresa: {% if form.instance.pk %}Edição{% else%}Cadastro{% endif%}. </span>
  </div>
{% endblock page_title %}

{% block content %}
  <form method="POST" >
    {% csrf_token %}
    <div class="form-group center_div">
      <div class="row">
        <!-- {# Celular, Tablet, Computador #} -->
        <div class="col-xs-9 col-sm-6 col-md-3">
          CNPJ <br>{{ contador.cnpj }}<br>
          {% bootstrap_field form.nome %}
          {% bootstrap_field form.telefone %}
          {% bootstrap_field form.telefone2 %}
          {% bootstrap_field form.celular %}
          {% bootstrap_field form.email %}
          {% bootstrap_field form.nome_contato %}
        </div>
        <div class="col-xs-9 col-sm-6 col-md-3">
            {% bootstrap_field endereco_form.logradouro %}
            {% bootstrap_field endereco_form.numero %}
            {% bootstrap_field endereco_form.bairro %}
          </div>
          <div class="col-xs-9 col-sm-6 col-md-3">
            {% bootstrap_field endereco_form.cep %}
            {{ endereco_form.municipio }}
          </div>
      </div>
    </div>
    <div class="form-group center_div">
      <input type="submit" value="Salvar" class="btn btn-primary ">
      <a href="{% url 'contador_read' %}" class="btn btn-default">Voltar</a>
    </div>
  </form>

{% endblock content %}
{% block extra_js %}
    {{ endereco_form.media }}
{% endblock extra_js %}
