{% extends "base.html" %}
{% load bootstrap3 %}

{% block css %}
  <style type="text/css">
    #filtro.off {
        display: none;
    }
    #filtro {
        padding: 1.2em;
    }
  </style>
{% endblock css %}

{% block page_title %}
  <div class="page-header ">
    <br>
    <h3>Mensagens<small></small>
    <a class="btn btn-default btn-xs" id="filtro_button_id" href="#!" onclick="show_filter_fields(this)"></span>Ver filtro</a>
    <a class="btn btn-success btn-xs" href="{% url 'mensagem_form' conta.id %}">Nova Mensagem</a></small></h3>
  </div>
{% endblock page_title %}

{% block content %}
{% if request.user.conta.tipo == 1 %}
  {% include "contabil/tab_clientes.html" %}
{% endif %}
<div  class='off' id="filtro">
  <form class="form-inline well" method="GET" action="#">
    <div class="form-group">
        {% bootstrap_field form.texto %}
        {% bootstrap_field form.setor %}
      </div>
        <button type="submit" class="btn btn-primary" title="Filtrar"><i class="glyphicon glyphicon-search"></i></button>
        <a class="btn btn-small btn-info" href="." title="Apaga o filtro e listar todos"><i class="glyphicon glyphicon-remove-circle"></i></a>
      </div>
  </form>
</div>
<div class="row-fluid">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>Texto</th>
        <th>Autor</th>
        <th>Data</th>
        <th>Setor</th>
        <th>Anexo</th>
        <th></th>
      </tr>
    </thead>
    {% for object in object_list %}
      <tr>
        <td>
          <a href="{% url 'mensagem_edit' conta.id object.id %}">{{ object.texto|truncatechars:20|default:'--' }}</a>
        </td>
        <td>{{ object.user_upd.nome|default:'--' }}</td>
        <td>{{ object.date_upd|date:"d/m/Y"|default:'--' }}</td>
        <td>{{ object.setor|default:'--' }}</td>
        <td>
          {% if object.filename %}
            <a href="{{ object.filename.url }}">{{ object.get_file_name|default:'--' }}</a>
          {% endif %}
        </td>
        <td>
        {% for conta_msg in object.contamensagem_set.all %}
          {% if conta_msg.user %}
            <span class="glyphicon glyphicon-user" style="color:green" title="{{ object.contamensagem_set.first.user|default:'' }} {{ object.contamensagem_set.first.data|date:'d/m/Y H:H'|default:'' }}"></span>
          {% endif %}
        {% endfor %}
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="100%">Nenhum item disponível</td></tr>
    {% endfor %}
  </table>
  {% if object_list.has_other_pages %}
   {% include 'pagination.html' %}
  {% endif %}
</div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
    var show_filter_fields = function() {
      $('#filtro').slideToggle('slow', function() {
          $('#filtro').toggleClass('off');
          if ($('#filtro').is('.off')) {
              //$('#filtro-label').text('Ver filtro');
              document.getElementById('filtro_button_id').innerHTML = "Ver filtro";
          } else {
             // $('#filtro-label').text('Esconder filtro');
              document.getElementById('filtro_button_id').innerHTML = "Esconder filtro";
          }
      });
  };
  </script>  
{% endblock extra_js %}