{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}
  <div class="page-header center_div">
    <!-- TODO erver esse br -->
    <br>
    {% if form.instance.pk %}
      <h3><small>Cliente: </small>{{ form.instance.nome }}</h3>
    {% else %}
      <h3>Cadastro<small> de Cliente</small></h3>
    {% endif%}

  </div>
{% endblock page_title %}

{% block content %}
    {% include "contabil/tab_clientes.html" %}
  <form method="POST" >
    {% csrf_token %}
    <div class="form-group center_div">
      <div class="row">
        <!-- {# Celular, Tablet, Computador #} -->
        <div class="col-xs-9 col-sm-6 col-md-3">
          {% bootstrap_field form.nome %}
          {% bootstrap_field form.email %}
          {% bootstrap_field form.nascimento %}
          {% bootstrap_field form.profissao %}
          {% bootstrap_field form.sexo %}
        </div>
      </div>
    </div>
    <div class="form-group center_div">
      <input type="submit" value="Salvar" class="btn btn-primary ">
      <a href="{% url 'cliente_list' conta.id %}" class="btn btn-default">Voltar</a>
    </div>
  </form>

{% endblock content %}
{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
