{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}

    <div class="row-fluid">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row-fluid">
                {{ developer_form.name|as_bootstrap }}
            </div>

            <div class="form-actions">
                <input type="submit" value="Salvar" class="btn btn-primary">
                <a href="{% url 'developer_list' %}" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>

{% endblock content %}
