{% extends "base.html" %}
{% load bootstrap3 %}

{% block css %}
<!--   <style type="text/css">
    #id_observacao {
      width: 165px;
      height: 90px;
    }
   </style> -->
{% endblock css %}

{% block page_title %}
  <div class="page-header">
    <!-- TODO erver esse br -->
    <br>
    Agenda
  </div>
{% endblock page_title %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    {% bootstrap_field form.nome %}
  </div>
  <div class="form-group">
    {% bootstrap_field form.observacao %}
  </div>
  <div class="form-group">
    {% bootstrap_field form.tipo %}
  </div>
  <input type="submit" value="Salvar" class="btn btn-primary">
  <a href="{% url 'agenda_list' conta.id %}" class="btn btn-default">Voltar</a>
</form>
{% endblock content %}

{% block extra_js %}
  {{ form.media }}
{% endblock extra_js %}
