{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row-fluid">
        <div class="controls cwell">
            <div class="row-fluid">
                {{ form.usuario|as_bootstrap }}
                {{ form.bandeira|as_bootstrap }}
                {{ form.vencimento|as_bootstrap }}
                {{ form.fechamento|as_bootstrap }}
            </div>
        </div>
            <div class="form-actions">
                <input type="submit" value="Salvar" class="btn btn-primary">
                <a href="{% url 'cartao_list' %}" class="btn btn-secondary">Voltar</a>
            </div>
    </div>
</form>


{% endblock content %}
{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
