{% extends "base.html" %}
{% load bootstrap3 %}

{% block css %}
<!--   <style type="text/css">
    #id_fechamento,
    #id_vencimento{
        width: 35px;
    }
   </style> -->
{% endblock css %}

{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
  Cartão
  </div>
{% endblock page_title %}
{% block content %}

<form method="POST">
   {% csrf_token %}
  <div class="form-group">
    <!-- {# Celular, Tablet, Computador #} -->
    <div class="row">
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.bandeira %}
      </div>
    </div>
    <div class="row">  
      <div class="col-xs-9 col-sm-6 col-md-3">  
        {% bootstrap_field form.vencimento %}
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.fechamento %}
        {% bootstrap_field form.ativo %}
      </div>
    </div>
  </div>
  <input type="submit" value="Salvar" class="btn btn-primary">
      <a href="{% url 'cartao_list' conta.id %}" class="btn btn-default">Voltar</a>
</form>
{% endblock content %}
{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
