{% extends "base.html" %}

{% load bootstrap_toolkit %}


{% block css %}
  <style type="text/css">
    #id_fechamento,
    #id_vencimento{
        width: 35px;
    }
   </style>
{% endblock css %}

{% block page_title %}Cartão{% endblock page_title %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row-fluid">
        <div class="controls cwell">
            <div class="row-fluid">
                {{ form.usuario|as_bootstrap }}
                {{ form.bandeira|as_bootstrap }}
                {{ form.vencimento|as_bootstrap }}
                {{ form.fechamento|as_bootstrap }}
            </div>
        </div>
            <div class="form-actions">
                <input type="submit" value="Salvar" class="btn btn-primary">
                <a href="{% url 'cartao_list' %}" class="btn btn-secondary">Volltar</a>
            </div>
    </div>
</form>


{% endblock content %}
{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
