{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block page_title %}Tarefas{% endblock page_title %}

{% block content %}

<h5>Filtro</h5>
<form class="form-inline well" method="GET" action="#">
<fieldset style="margin:0; padding-bottom:0;">
    <div class="row-fluid">
        {{ form.q|as_bootstrap:"inline" }}
    </div>
    <br>
        <div class="row-fluid">
        {{ form.confirmado|as_bootstrap:"inline" }}
        {{ form.pago|as_bootstrap:"inline" }}
    </div>
    <br>
    <div class="row-fluid">
        {{ form.data_ini|as_bootstrap:"inline" }}
        {{ form.data_fim|as_bootstrap:"inline" }}
    </div>
    <br>

</fieldset>
        <button type="submit" class="btn btn-small btn-success" title="Filtrar"><i class="icon-search"></i></button>
        <a class="btn btn-small btn-info" href="." title="Apaga o filtro e listar todos"><i class="icon-remove-circle"></i></a>
      </div>

</form>

    <div class="row-fluid">
        <a class="btn btn-success" href="{% url 'tarefa_add' %}">Nova Tarefa</a>

        <table class="table table-striped table-condensed table-hover">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Agenda</th>
                <th>Serviço</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Valor</th>
                <th>Confirmado</th>
                <th>Pago</th>
              </tr>
            </thead>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'tarefa_edit' object.pk %}">
                            {{ object.titulo }}
                        </a>
                    </td>
                    <td>{{ object.servico.agenda|default:"--" }}</td>
                    <td>{{ object.servico.nome|default:'--' }}</td>
                    <td>{{ object.data_ini|date:"d/m/Y" }}</td>
                    <td>{{ object.hora_ini }}</td>
                    <td>{{ object.get_tipo_display|default:"" }} $ {{ object.valor|default:'--'  }}</td>
                    <td>{{ object.confirmado|yesno:"Sim,Não" }}</td>
                    <td>{{ object.pago|yesno:"Sim,Não" }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="100%">Nenhum item disponível</td></tr>
            {% endfor %}
        </table>
        <tfoot>
        </tfoot>
    </div>
{% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock content %}
{% block extra_js %}
    {{ form.media.js}}
{% endblock extra_js %}
