{% extends "base.html" %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block css %}
<!--   <style type="text/css">

    #id_descricao{
      width: 465px;
      height: 70px;
    }
    #id_data_ini,
    #id_data_fim{
        width: 75px;
    }
    #id_hora_ini,
    #id_hora_fim,
    #id_nr_parcela{
        width: 35px;
    }
   </style> -->
{% endblock css %}

{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
  <br>
  {% if agenda %}
    {{ agenda.nome }}
  {% else %}
    Tarefa
  {% endif %}
  </div>
{% endblock page_title %}

{% block content %}
<form method="POST" >
  {% csrf_token %}
  <div class="form-group">
    {% bootstrap_field form.servico %}
    {% bootstrap_field form.titulo %}
  </div>
  <div class="form-group">
    {% bootstrap_field form.descricao %}
  </div>
  <div class="form-group">
    {% bootstrap_field form.data_ini %}
    {% bootstrap_field form.hora_ini %}
  </div>
  <div class="form-group">
    {% bootstrap_field form.data_fim %}
    {% bootstrap_field form.hora_fim %}
  </div>
  <div class="form-group">
    {% bootstrap_field form.confirmado %}
    {% bootstrap_field form.tipo %}
  </div>
  <div class="form-group" id="div_financeiro" {% if not form.instance.tipo %}style="display:none"{% endif %}>
    <div class="form-group">
      {% bootstrap_field form.pago %}
      {% bootstrap_field form.valor %}
      {% bootstrap_field form.nr_documento %}
      {% bootstrap_field form.cartao %}
      {% bootstrap_field form.nr_parcela %}
    </div>
  </div>

    <input type="submit" value="Salvar" class="btn btn-primary">
      {% if agenda %}
        <a href="{% url 'agenda_tarefa_list' conta.id agenda.id %}" class="btn btn-default">Voltar</a>
      {% else %}
        <a href="{% url 'tarefa_list' conta.id %}" class="btn btn-default">Voltar</a>
      {% endif %}

</form>

{% endblock content %}

{% block extra_js %}
    {{ form.media }}
    <script type="text/javascript">
    jQuery("#id_tipo").click(function(){
         jQuery("#div_financeiro").toggle();
    });
</script>
{% endblock extra_js %}
