{% extends "base.html" %}
{% load bootstrap3 %}

{% block css %}
  <style type="text/css">
    #filtro.off {
        display: none;
    }
    #filtro {
        padding: 1.2em;
    }
  </style>
{% endblock css %}

{% block page_title %}
  <div class="page-header">
  <!-- TODO erver esse br -->
    <br>
    <h3>
      {% if agenda %}
        {{ agenda.nome }}
      {% else %}
        Tarefas
      {% endif %}
      <small>
        {{ data_ini|date:"d/m/Y" }} a {{ data_fim|date:"d/m/Y" }}
        <a class="btn btn-default btn-xs" id="filtro_button_id" href="#!" onclick="show_filter_fields(this)"></span>Ver filtro</a>
        {% if agenda %}
          <a class="btn btn-success btn-xs" href="{% url 'agenda_tarefa_add' conta.id agenda.id %}">Nova Tarefa</a>
        {% else %}
          <a class="btn btn-success btn-xs" href="{% url 'tarefa_add' conta.id %}">Nova Tarefa</a>
        {% endif %}
      </small>
    </h3>
  </div>
{% endblock page_title %}

{% block content %}
<div  class='off' id="filtro">
  <form class="form-inline well" method="GET" action="#">
    <div class="form-group">
        {% bootstrap_field form.titulo %}
        {% bootstrap_field form.servico %}
        {% bootstrap_field form.descricao %}
        {% bootstrap_field form.data_ini %}
        {% bootstrap_field form.data_fim %}
      </div>
      <br>

    <legend style="font-size:12px;">
       <a href="#" class="panel-showhide"><i class="icon-plus-sign"></i>Opções de Filtro</a></legend>
        <div class="panel-showhide">
          <div class="form-group">
            {% bootstrap_field form.confirmado %}
            {% bootstrap_field form.pago %}
            {{ form.not_pago.label }} {{ form.not_pago }}
            {% bootstrap_field form.tipo %}
            {% bootstrap_field form.valor %}
          </div>
        </div>

      <button type="submit" class="btn btn-primary" title="Filtrar"><i class="glyphicon glyphicon-search"></i></button>
      {% if agenda %}
        <a class="btn btn-small btn-info" href="{% url 'agenda_tarefa_list' conta.id  agenda.id%}" title="Apaga o filtro e listar todos"><i class="glyphicon glyphicon-remove-circle"></i></a>
      {% else %}
        <a class="btn btn-small btn-info" href="{% url 'tarefa_list' conta.id %}" title="Apaga o filtro e listar todos"><i class="glyphicon glyphicon-remove-circle"></i></a>
      {% endif %}
  </form>
</div>
<div class="row-fluid">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Titulo</th>
        {% if not agenda %}
          <th>Agenda</th>
        {% endif %}
        <th>Serviço</th>
        <th>Nr Doc.</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Valor</th>
        <th>Confirmado</th>
        <th>Pago</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
      {% if not agenda %}
        <td></td>
      {% endif %}
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td span="4">{{ total }}</td>
      </tr>
  </tfoot>
    <tbody>
    {% for object in object_list %}
    <tr class="{{ object.get_context_alert }}">
      <td>
        {% if agenda %}
          <a href="{% url 'agenda_tarefa_edit' conta.id agenda.id object.pk %}">{{ object.titulo }}</a>
        {% else %}
          <a href="{% url 'tarefa_edit' conta.id object.pk %}">{{ object.titulo }}</a>
        {% endif %}
      </td>
      {% if not agenda %}
        <td>{{ object.servico.agenda|default:"--" }}</td>
      {% endif %}
        <td>{{ object.servico.nome|default:'--' }}</td>
        <td>{{ object.nr_documento|default:'--' }}</td>
        <td>{{ object.data_ini|date:"d/m/Y" }}</td>
        <td>{{ object.hora_ini }}</td>
        <td>{{ object.get_tipo_display|default:"" }} $ {{ object.valor|default:'--'  }}</td>
        <td>{{ object.confirmado|yesno:"Sim,Não" }}</td>
        <td>
          {% if object.pago %}
            <span class="glyphicon glyphicon-ok-circle" style="color:green"></span>
          {% else %}
            <label>
              <input type="checkbox"
                     id="{{ object.id }}"
                     value="tarefa_{{ object.id }}"
                     name="set_status"
                     onchange="set_tarefa_status(this)" 
                     > Pagar
            </label>
          {% endif %}

        </td>
    </tr>
    {% empty %}
      <tr><td colspan="100%">Nenhuma tarefa no período</td></tr>
    {% endfor %}
    </tbody>
  </table>
</div>

 {% bootstrap_pagination page_obj extra=request.GET.urlencode %}

{% endblock content %}
{% block extra_js %}
  {{ form.media.js}}
  <script type="text/javascript">
      jQuery(document).ready( function() {
        /*
        Show / Hide qualquer div com a class="panel-showhide"
        O objeto que recebe a funcao para show/hide deve ser um LINK com a mesma classe.
        Ambos devem estar dentro de um container (fieldset, div ...)
        */
        jQuery('div.panel-showhide').hide();
        jQuery('a.panel-showhide').click( function() {
            jQuery(this).parent().parent().find('div.panel-showhide').toggle();
        });

    });
  </script>

   <script type="text/javascript">
    function set_tarefa_status(field){
      if($(field).is(':checked')){
        var tarefa_id = $(field).attr('id')
        //alert(tarefa_id)
        // Zero: 0, é um id válido
        // não quebra a url ao carregar a página
        $.get("{% url 'set_tarefa_status' 0 %}".replace('0', tarefa_id), function(){
          location.reload();
          });
        }      
      }
  </script>

  <script type="text/javascript">
    var show_filter_fields = function() {
      $('#filtro').slideToggle('slow', function() {
          $('#filtro').toggleClass('off');
          if ($('#filtro').is('.off')) {
              //$('#filtro-label').text('Ver filtro');
              document.getElementById('filtro_button_id').innerHTML = "Ver filtro";
          } else {
             // $('#filtro-label').text('Esconder filtro');
              document.getElementById('filtro_button_id').innerHTML = "Esconder filtro";
          }
      });
    };
  </script>  

{% endblock extra_js %}
