{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row-fluid">
        <div class="controls cwell">
            <div class="row-fluid">
                {{ form.servico|as_bootstrap }}
                {{ form.titulo|as_bootstrap }}
                {{ form.descricao|as_bootstrap }}
            </div>
            <div class="row-fluid">
                {{ form.data_ini|as_bootstrap }}
                {{ form.data_fim|as_bootstrap }}
                {{ form.hora_ini|as_bootstrap }}
                {{ form.hora_fim|as_bootstrap }}
            </div>
            <div class="row-fluid">
                {{ form.confirmado|as_bootstrap }}
                {{ form.pago|as_bootstrap }}
                {{ form.valor|as_bootstrap }}
            </div>
        </div>
            <div class="form-actions">
                <input type="submit" value="Salvar" class="btn btn-primary">
                <a href="{% url 'tarefa_list' %}" class="btn btn-secondary">Voltar</a>
            </div>
    </div>
</form>


{% endblock content %}
{% block extra_js %}
    {{ form.media }}
{% endblock extra_js %}
