{% extends "base.html" %}

{% block content %}

    <div class="row-fluid">
        <a class="btn btn-success" href="{% url 'tarefa_add' %}">Nova Tarefa</a>

        <table class="table table-striped table-condensed table-hover">
            <thead>
              <tr>
                <th>Tarefa</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Confirmado</th>
                <th>Pago</th>
              </tr>
            </thead>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'tarefa_edit' object.pk %}">
                            {{ object.titulo }}
                        </a>
                    </td>
                    <td>{{ object.data_ini|date:"d/m/Y" }}</td>
                    <td>{{ object.hora_ini }}</td>
                    <td>{{ object.confirmado|yesno:"Sim,Não" }}</td>
                    <td>{{ object.pago|yesno:"Sim,Não" }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="100%">Nenhum item disponível</td></tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}
