{% extends "base.html" %}
{% load bootstrap3 %}

{% bootstrap_css %}


{% block css %}
  <style type="text/css">

    #id_descricao{
      width: 620px;
      height: 70px;
    }
  </style>
<!--   <style type="text/css">
    #id_data_ini,
    #id_data_fim,
    #id_confirmado,
    #id_tipo{
        width: 95px;
    }
    #id_servico,
    #id_titulo{
       width: 465px;
    }
    #id_hora_ini,
    #id_hora_fim,
    #id_nr_parcela{
        width: 65px;
    }
   </style> -->
{% endblock css %}

{% block page_title %}
  <div class="page-header center_div">
    <!-- TODO erver esse br -->
    <br>
    <h3>
      {% if agenda %}
        {{ agenda.nome }}
      {% else %}
        Tarefa
      {% endif %}
      <small>
        {% if form.instance.pk %}Edição{% else%}Cadastro{% endif%}.
      </small>
    </h3>
  </div>
{% endblock page_title %}

{% block content %}
<form method="POST" class="center_div" >
  {% csrf_token %}
  <div class="form-group">
    <div class="row">
      <!-- {# Celular, Tablet, Computador #} -->
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.servico %}
      </div>
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.titulo %}
      </div>
  </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-9 col-sm-6 col-md-4">
        {% bootstrap_field form.descricao %}
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.data_ini %}
      </div>
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.hora_ini %}
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.data_fim %}
      </div>
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.hora_fim %}
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.confirmado %}
      </div>
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.tipo %}
      </div>
    </div>
  </div>
  <div class="form-group" id="div_financeiro" {% if not form.instance.tipo %}style="display:none"{% endif %}>
    <div class="row">
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.pago %}
      </div>
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.valor %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.nr_documento %}
      </div>
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.cartao %}
      </div>
    </div>  
    <div class="row">
      <div class="col-xs-9 col-sm-6 col-md-3">
        {% bootstrap_field form.nr_parcela %}
      </div>
    </div>  
  </div>

  <input type="submit" value="Salvar" class="btn btn-primary">
    {% if agenda %}
      <a href="{% url 'agenda_tarefa_list' conta.id agenda.id %}" class="btn btn-default">Voltar</a>
    {% else %}
      <a href="{% url 'tarefa_list' conta.id %}" class="btn btn-default">Voltar</a>
    {% endif %}
</form>

{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="/static/datetimepicker/js/moment.min.js"></script>
  <script type="text/javascript" src="/static/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="/static/datetimepicker/js/locales/bootstrap-datetimepicker.pt-BR.js"></script>
  {{ form.media.js }
    
    <script type="text/javascript">
    jQuery("#id_tipo").click(function(){
         jQuery("#div_financeiro").toggle();
    });
</script>
{% endblock extra_js %}
